version.py
# Build related
build
utils
dist
.coverage
.pytest_cache
*.egg-info
# Temp files
.ipynb_checkpoints
tmp*
.vscode
*pitch_response.py
temp*
tmp*.*
temp*.*
.cache
# Output files
*.mp4

# Python compiled files
*.pyc
*.pyo
*.pyd

.DS_Store
