coverage
coveralls
ipython
matplotlib
matplotlib-inline
numpy
numpydoc
pandas
pillow
plotly
pydantic
setuptools
pydantic-settings
pydantic_core
pydata-sphinx-theme
pymoo
pyparsing
pytest
pytest-cov
scipy
shapely

