alabaster
certifi
cma
colorama
contourpy
coverage
coveralls
cycler
debugpy
decorator
Deprecated
docopt
docutils
fonttools
grapheme
idna
imagesize
autodoc-pydantic
matplotlib
matplotlib-inline
mdurl
numpy
numpydoc
pandas
parso
platformdirs
plotly
pluggy
pydantic
pydantic-settings
pydantic_core
pydata-sphinx-theme
pymoo
pytest
pytest-cov
python-dateutil
python-dotenv
pytz
pyzmq
requests
rich
scipy
shapely
snowballstemmer
soupsieve
Sphinx
sphinx-jsonschema
sphinx-pydantic
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
tabulate
tenacity
myst-nb
tornado
traitlets
typing_extensions
